.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.1);
    -webkit-box-shadow: -1px 2px 72px -29px rgba(51,51,51,0.83);
    -moz-box-shadow: -1px 2px 72px -29px rgba(51,51,51,0.83);
    box-shadow: -1px 2px 72px -29px rgba(51,51,51,0.83);

    gap: 8px;
}

span{
    font-weight: 700;
    font-size: 14px;
    color: var(--red);
}

span.opened{
    color: var(--green);
}

h3 {
    color: var(--dark-grey);
    font-size: 24px;
    font-weight: bold;
}

p{
    color: var(--light-grey);
    font-size: 14px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
